@charset "UTF-8";
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: url("../img/mini_bg.png") no-repeat fixed;
  background-size: cover;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#app .vg_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app .vg_container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 46px;
  width: 100%;
  position: relative;
  border-bottom: 1px solid rgba(36, 81, 165, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app .vg_container .header .back {
  width: 40px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
}

#app .vg_container .header .back:active {
  background: rgba(36, 81, 165, 0.4);
}

#app .vg_container .header .title {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
}

#app .vg_container .content {
  width: 100%;
  height: calc(100% - 66px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  padding: 8px 20px;
  overflow-y: scroll;
  margin-top: 10px;
}

#app .vg_container .content::-webkit-scrollbar {
  display: none;
}

#app .vg_container .content .head {
  width: 100%;
  height: 36px;
  line-height: 36px;
  text-align: left;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  background: rgba(36, 81, 165, 0.4);
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app .vg_container .content .head .point {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #fff;
  margin-right: 10px;
}

#app .vg_container .content .apply_mes {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app .vg_container .content .apply_mes .item {
  width: 100%;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #fff;
}

#app .vg_container .content .apply_mes .item div:first-child {
  width: 100px;
  text-align: justify;
  text-align-last: justify;
  display: block;
  color: #fff;
}

#app .vg_container .content .apply_mes .item div:first-child + div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
}

#app .vg_container .content .apply_mes .item span {
  font-weight: bold;
}

#app .vg_container .content .apply_mes .item_more {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

#app .vg_container .content .apply_mes .item_more .name {
  width: 100px;
  min-width: 100px;
  text-align: justify;
  text-align-last: justify;
  display: block;
  color: #fff;
}

#app .vg_container .content .apply_mes .item_more .mes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
  word-wrap: break-word;
  word-break: break-all;
  height: auto;
  display: inline-block;
}

#app .vg_container .content .subItem {
  margin-top: 10px;
  border: 1px solid rgba(36, 81, 165, 0.4);
  padding: 10px;
}

#app .vg_container .content .formDiv {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #0a2e75;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  margin-top: 16px;
}

#app .vg_container .content .formDiv .table-tr {
  height: auto;
  min-height: 32px;
  line-height: 32px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app .vg_container .content .formDiv .table-tr .table-td {
  height: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#app .vg_container .content .formDiv .table-tr .table-td .sub-table-td {
  margin-top: -1px;
  margin-left: -1px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#app .vg_container .content .formDiv .table-tr .table-td .sub-table-td span {
  display: inline-block;
  width: 96%;
  font-size: 14px;
  color: #FFFFFF;
}

#app .vg_container .content .formDiv .table-tr .table-td .sub-table-td .ellipse {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#app .vg_container .content .formDiv .table-tr .table-td .sub-table-td .overdueDay {
  color: #FFC03C;
}

#app .vg_container .content .formDiv .table-tr .table-td .table-th {
  font-weight: bold;
}

#app .vg_container .content .formDiv .table-tr .table-td .table-th span {
  font-size: 14px;
  color: #fff;
}

#app .vg_container .content .formDiv .formHeader {
  background: rgba(36, 81, 165, 0.4);
}

#app .vg_container .content .formDiv .items:active {
  background: rgba(16, 72, 175, 0.4);
}

#app .dialogDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

#app .dialogDiv .detailDiv {
  width: 80%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 999;
  color: #000;
  background: #fff;
  border-radius: 4px;
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app .dialogDiv .detailDiv .head {
  width: 100%;
  height: 36px;
  line-height: 36px;
  text-align: left;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  background: rgba(36, 81, 165, 0.4);
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app .dialogDiv .detailDiv .head .point {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #fff;
  margin-right: 10px;
}

#app .dialogDiv .detailDiv .apply_mes {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 10px;
}

#app .dialogDiv .detailDiv .apply_mes .item {
  width: 100%;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #000;
  padding: 0 6px;
}

#app .dialogDiv .detailDiv .apply_mes .item div:first-child {
  width: 100px;
  text-align: justify;
  text-align-last: justify;
  display: block;
  color: #000;
}

#app .dialogDiv .detailDiv .apply_mes .item div:first-child + div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #000;
}

#app .dialogDiv .detailDiv .apply_mes .item span {
  font-weight: bold;
}

#app .dialogDiv .detailDiv .apply_mes .item_more {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  padding: 10px 6px;
}

#app .dialogDiv .detailDiv .apply_mes .item_more .name {
  width: 100px;
  min-width: 100px;
  text-align: justify;
  text-align-last: justify;
  display: block;
  color: #000;
}

#app .dialogDiv .detailDiv .apply_mes .item_more .mes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #000;
  word-wrap: break-word;
  word-break: break-all;
  height: auto;
  display: inline-block;
}

#app .dialogDiv .detailDiv .coat-files {
  width: 100%;
  height: auto;
  background: white;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app .dialogDiv .detailDiv .coat-files .files-list {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app .dialogDiv .detailDiv .coat-files .files-list .left {
  width: 1.8rem;
  min-width: 1.8rem;
  text-align-last: justify;
  display: block;
  font-size: 0.28rem;
  font-family: "微软雅黑";
  color: #666666;
}

#app .dialogDiv .detailDiv .coat-files .files-list .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0.1rem;
  line-height: 0.4rem;
  word-wrap: break-word;
  word-break: break-all;
  height: auto;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#app .dialogDiv .detailDiv .coat-files .files-list .right li {
  width: 100%;
  overflow: hidden;
  height: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#app .dialogDiv .detailDiv .coat-files .files-list .right li div {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 0.6rem;
  font-size: 0.28rem;
  color: #666666;
}

#app .dialogDiv .detailDiv .coat-files .files-list .right li button {
  width: 0.7rem;
  height: 0.4rem;
  border: 1px solid #fc7265;
  color: #fc7265;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF;
  margin-left: 0.1rem;
}

#app .dialogDiv .detailDiv .coat-files .files-list .personCc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0.1rem;
  line-height: 0.4rem;
  word-wrap: break-word;
  word-break: break-all;
  height: auto;
  display: inline-block;
  color: #666666;
}

#app .dialogDiv .detailDiv .coat-files .files-list .fileups {
  width: 1.5rem;
  height: 0.6rem;
  border-radius: 5px;
  border: 1px solid #fc7265;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fc7265;
  font-size: 0.24rem;
}

#app .dialogDiv .detailDiv .coat-files .add-files-but {
  width: 100%;
  height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#app .dialogDiv .detailDiv .coat-files .add-files-but button {
  width: 1.5rem;
  height: 0.6rem;
  border-radius: 5px;
  border: 1px solid #fc7265;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fc7265;
  font-size: 0.24rem;
}
/*# sourceMappingURL=detail.css.map */