html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: url("../img/bg.png") no-repeat fixed;
    background-size: cover;
    overflow: hidden;
    user-select:none;
    position: relative;
} 
#app {
    width: 100%;
    height: 100%;
    overflow: hidden; 
    position: relative;
    .vg_container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .header {
            width: 100%;
            height: 80px;
            background: url("../img/top.png") no-repeat;
            background-size: 100% 100%;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            box-sizing: border-box;
            position: relative;
            .left{
                width: auto; 
                display: flex;
                align-items: center;
                font-weight: bold;
                font-size: 18px;
                justify-content: flex-start; 
                color: #fff;
                padding-left: 28px;
                .line{
                    display: inline-block;
                    width: 5px;
                    height: 14px;
                    background-color: #80d9ef;
                    border-radius: 4px;
                }
                span{
                    margin-right: 6px;
                }
            } 
            .center {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                margin-top:-10px;
                span{
                    color: #fff;
                    font-size:28px;
                    font-weight: bold;
                    letter-spacing: 10px;
                }
            }
            .right{
                width: 30%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-right: 28px;
                span{
                    height: 2px;
                    width: 100%;
                    background: -webkit-linear-gradient(left,rgba(255, 255, 255, 0),#80D9EF,#80D9EF);
                    // background: linear-gradient(to right, rgba(255, 255, 255, 0),#5DDDD3,rgba(255,255,255,0));
                }
            }
        }
         
        .content{
            padding: 0 0 28px 0;
            width:  calc(100% - 56px);
            height: calc(100% - 104px);
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
            .taskBox{
                width: 32.4%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .titleBox{
                    width: 100%;
                    height: 16%;
                    // border: 1px solid rgb(202, 157, 157);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .nameBorder{
                        width: 68%;
                        height: 50%;
                        background: url("../img/title.png") no-repeat;
                        background-size: 100% 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .form{
                    width: 100%;
                    height: 84%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .formDiv{
                        // padding: 0  22px 40px 22px;
                        width:  calc(100% - 44px);
                        height: calc(100% - 40px);
                        box-sizing: border-box;
                        border: 2px solid #0a2e75;

                        display: flex; 
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-start;
                        box-sizing: border-box;
                        overflow: hidden;
                        position: relative;
                        .table-tr { 
                            height:6.25%; 
                            width: 100%;
                            // border: 1px solid #fff;
                            box-sizing: border-box;
                            .table-td {
                                height: 100%;
                                height: 100%;
                                display: flex; 
                                flex-direction: row; 
                                .sub-table-td {
                                    margin-top: -1px; 
                                    margin-left: -1px; 
                                    text-align: center;
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    justify-content: center;
                                    span{  
                                        display: inline-block;
                                        width: 86%;
                                        font-size: 14px;
                                        color: #FFFFFF; 
                                    }
                                    .ellipse{ 
                                        white-space: nowrap;
                                        overflow: hidden;
                                        -ms-text-overflow: ellipsis;
                                        text-overflow: ellipsis;  
                                    }
                                    .overdueDay{
                                        color: #FFC03C;
                                    }
                                } 
                                .table-th{
                                    font-weight: bold;
                                    span{
                                        font-size: 14px;
                                        color: #061E64; 
                                    }
                                }   
                            }   
                        } 
                        .nodata{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            font-size: 14px;
                            color: rgba(255, 255, 255, 0.8); 
                        }
                    }
                    .page{
                        width: 100%;
                        height: 30px;
                        display: flex; 
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        color: rgba(255, 255, 255, 0.8); 
                        font-size: 13px;
                        .item{
                            display: flex; 
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-around;
                        }
                    }
                }
            }
            .newestTaskBox{
                background: url("../img/left.png") no-repeat;
                background-size: 100% 100%;
                .titleName{ 
                    font-size: 34px;
                    font-family: Microsoft YaHei;
                    font-weight: bold;
                    color: #FFFFFF; 
                    background: linear-gradient(0deg, #00B4B1 0%, #00DC8C 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    letter-spacing: 1px;
                }
                .formHeader{
                    background: linear-gradient(0deg, #00B4B1, #00DC8C);
                }
                .isOdd{
                    background: linear-gradient(0deg, #00b4b1  0%, #00dc8c 100%);
                }
                .isOdd{  
                    background: rgba(7, 50, 106, 0.6); 
                }
                .newTask{
                    // border:1px solid;
                    // border-image: -webkit-linear-gradient(#00B4B1,#00DC8C) 1 1;
                    // border-image: -moz-linear-gradient(#00B4B1,#00DC8C) 1 1;
                    // border-image: linear-gradient(#00B4B1,#00DC8C) 1 1; 
                    animation: glowNew 800ms ease-out 16 alternate;
                }
                @keyframes glowNew {
                    0% {
                       box-shadow: 0 0 4px #00B4B1 inset,0px 0px 4px #00DC8C inset;
                    }
                    100% {
                      box-shadow: 0 0 12px #00B4B1 inset,0px 0px 12px #00DC8C inset;
                    }
                }
                
            }
            .processingTaskBox{
                background: url("../img/center.png") no-repeat;
                background-size: 100% 100%;
                .titleName{ 
                    font-size: 34px;
                    font-family: Microsoft YaHei;
                    font-weight: bold;
                    color: #FFFFFF;  
                    background: linear-gradient(0deg, #4FACFE 0%, #00F2FE 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent; 
                    letter-spacing: 1px;
                }
                .formHeader{
                    background: linear-gradient(0deg, #4FACFE, #00F2FE);
                }
                .isOdd{  
                    background: rgba(9, 48, 118, 0.5); 
                }
                .newTask{
                    animation: glowProcess 800ms ease-out 16 alternate;
                }
                @keyframes glowProcess {
                    0% {
                       box-shadow: 0 0 4px #5CAEF5 inset,0px 0px 4px #00F2FE inset;
                    }
                    100% {
                      box-shadow: 0 0 12px #5CAEF5 inset,0px 0px 12px #00F2FE inset;
                    }
                }
            }
            .overdueTaskBox{
                background: url("../img/right.png") no-repeat;
                background-size: 100% 100%;
                .titleName{ 
                    font-size: 34px;
                    font-family: Microsoft YaHei;
                    font-weight: bold;
                    color: #FFFFFF; 
                    background: linear-gradient(0deg, #F48523 0%, #FFC13D 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    letter-spacing: 1px;
                }
                .formHeader{
                    background: linear-gradient(0deg, #F48523, #FFC13D);
                }
                .isOdd{  
                    background: rgba(31, 42, 92, 0.6); 
                }
                .newTask{
                    animation: glowOver 800ms ease-out infinite alternate;
                }
                @keyframes glowOver {
                    0% {
                       box-shadow: 0 0 4px #F48523 inset,0px 0px 4px #FFC13D inset;
                    }
                    100% {
                      box-shadow: 0 0 12px #F48523 inset,0px 0px 12px #FFC13D inset;
                    }
                }
            } 

            // translateX
            .translateX-enter-active, .translateX-leave-active {
                transition: all .6s;
            }
            .translateX-leave-to{
                opacity: 0.5;
                transform: translateX(-100%);
            } 
            .translateX-enter{
                opacity: 0.5;
                transform: translateX(100%);
            } 




        }
    }
}