<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=0.9,user-scalable=no">
    <title>任务详情</title>
    <link rel="icon" href="logo.ico" type="images/x-ico" />
    <link rel="stylesheet" href="css/detail.css">
</head>

<body>
    <div id="app" @click="bodyCloseMenus($event)">
        <div class="vg_container">
            <div class="header">
                <div class="back" @click="history.go(-1)">
                     <img src="./img/back.png" alt="" class="left">
                </div>
                <div class="title">任务-详情</div>
            </div>
            <!-- 任务详情 -->
            <div class="content">
                <div class="head">
                    <span class="point"></span>
                    <span>任务详情</span>
                </div>
                <div class="apply_mes">
                    <div class="item_more">
                        <div class="name">任务名称：</div>
                        <div class="mes">{{allTaskDetail.taskName}}</div>
                    </div>  
                    <div class="item">
                        <div>任务状态：</div>
                        <div>{{statusObj[allTaskDetail.state]}}</div>
                    </div> 
                    <div class="item">
                        <div>发布人：</div>
                        <div>{{allTaskDetail.releasePeople}}</div>
                    </div> 
                    <div class="item">
                        <div>发布时间：</div>
                        <div>{{allTaskDetail.releaseTime}}</div>
                    </div> 
                    <div class="item">
                        <div>执行部门：</div>
                        <div>{{sdidName}}</div>
                    </div>
                    <div class="item">
                        <div>执行人：</div>
                        <div>{{spidName}}</div>
                    </div>
                    <div class="item">
                        <div>开始时间：</div>
                        <div>{{allTaskDetail.beginTime}}</div>
                    </div>
                    <div class="item">
                        <div>完成预期：</div>
                        <div>{{allTaskDetail.expectTime}}</div>
                    </div>
                    <div class="item_more">
                        <div class="name">任务内容：</div>
                        <div class="mes">{{allTaskDetail.content}}</div>
                    </div>  
                </div>
                <!-- 附件 -->
                <template  v-if="subTaskAnnex.length>0">
                    <div class="head" style="margin-top: 20px;">
                        <span class="point"></span>
                        <span>附件列表</span>
                    </div> 
                    <div class="apply_mes subItem"  v-for="(item,index) in subTaskAnnex" :key="index" >
                        <div class="item_more"> 
                            <div class="mes">{{item.name}}</div>
                        </div>  
                    </div>
                </template>
                <!-- 子任务 -->
                <template  v-if="subTaskDetail.length>0">
                    <div class="head" style="margin-top: 20px;">
                        <span class="point"></span>
                        <span>子任务列表</span>
                    </div> 
                    <div class="apply_mes subItem"  v-for="(item,index) in subTaskDetail" :key="index" >
                        <div class="item_more">
                            <div class="name">子任务名称：</div>
                            <div class="mes">{{item.task_name}}</div>
                        </div>
                        <div class="item">
                            <div>任务状态：</div>
                            <div>{{statusObj[item.state]}}</div>
                        </div>  
                        <div class="item">
                            <div>执行人：</div>
                            <div>{{item.username}}</div>
                        </div> 
                        <div class="item">
                            <div>完成预期：</div>
                            <div>{{item.expect_time}}</div>
                        </div>
                        <div class="item_more">
                            <div class="name">任务内容：</div>
                            <div class="mes">{{item.content}}</div>
                        </div>  
                    </div>
                </template>
                <!-- 操作日志 -->
                <template  v-if="operationLogList.length>0">
                    <div class="head" style="margin-top: 20px;">
                        <span class="point"></span>
                        <span>操作日志</span>
                    </div>
                    <div class="formDiv">
                        <div class="table-tr formHeader">
                            <div class="table-td">
                                <div class="sub-table-td table-th" style="width: 30%;"><span
                                        class="table_spe">操作</span></div>
                                <div class="sub-table-td table-th" style="width: 30%;"><span
                                        class="table_spe">操作人</span></div>
                                <div class="sub-table-td table-th" style="width: 40%;"><span
                                        class="table_spe">操作时间</span></div> 
                            </div>
                        </div> 
                        <div class="table-tr items" v-for="(item,index) in operationLogList" :key="index" @click.stop="logVisibleHandle($event,item)">
                            <div class="table-td" :class="{ 'isOdd': index%2==1}">
                                <div class="sub-table-td" style="width: 30%;"><span
                                        class="table_spe ellipse">{{item.operation}}</span></div>
                                <div class="sub-table-td" style="width: 30%;"><span
                                        class="table_spe">{{item.username}}</span></div>
                                <div class="sub-table-td" style="width: 40%;"><span
                                        class="table_spe">{{item.oper_time}}</span></div> 
                            </div>
                        </div> 
                    </div>
                </template>
            </div>
        </div>
        <!-- dialog -->
        <template>
            <!-- toast -->
            <div class="dialogDiv" v-show="logVisible" >
                <div class="detailDiv"  ref="logVisible">
                    <div class="head">
                        <span>操作日志详情</span>
                    </div>
                    <div class="apply_mes">
                        <div class="item">
                            <div>操作：</div>
                            <div>{{subOperation.operation}}</div>
                        </div>
                        <div class="item">
                            <div>操作人：</div>
                            <div>{{subOperation.username}}</div>
                        </div> 
                        <div class="item">
                            <div>操作时间：</div>
                            <div>{{subOperation.oper_time}}</div>
                        </div>  
                        <div class="item_more" v-if="subOperation.standby">
                            <div class="name">操作内容：</div>
                            <div class="mes">{{subOperation.standby}}</div>
                        </div> 
                    </div>
                </div>
            </div>
        </template>
    </div>
    <script src="./js/vue.min.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/qs.js"></script>
    <script src="./js/httpRequest.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    allTaskDetail: [],
                    subTaskDetail: [],//子任务
                    sdidName:'',
                    spidName:'',
                    subTaskAnnex: [],//子任务附件
                    operationLogList: [],//操作日志
                    curItem:'',
                    // 弹窗
                    logVisible: false,
                    statusObj:{
                        "0":"未启动",
                        "1":"进行中",
                        "2":"已完成",
                        "3":"已逾期",
                        "4":"已终止"
                    },
                    subOperation:[]
                }
            },
            mounted() {
                // 初始数据
                this.getTaskInfo();
            }, 
            methods: { 
                // 点击弹窗空白处关闭弹窗
                bodyCloseMenus(e) {
                    if (this.logVisible) { 
                        console.log(1)
                        if (this.$refs.logVisible.contains(e.target)) return
                        this.logVisible = false;
                    } 
                },
                logVisibleHandle(e,item){
                    this.subOperation=item;
                    this.logVisible=true;
                },
                // 详情
                getTaskInfo() {
                    this.curItem=JSON.parse(sessionStorage.getItem('curItem'));
                    let params = {
                        "id": this.curItem.id, 
                    };  
                    apiPostRequest('/reimburse/taskInfo/info', params).then(res => { 
                        let datas = { "page": 1, "rows": 500 };
                        this.allTaskDetail=res.entry;
                         //获取部门 
                         apiPostRequest('/system/department/combobox', datas).then(data => {
                            data.rows.forEach(v => {
                                if (v.id == res.entry.sdid) {
                                    this.sdidName=v.departmentname;
                                } 
                            }); 
                        });
                        // 执行人
                        apiPostRequest('/reimburse/employee/combobox', datas).then(data => {
                            data.rows.forEach(v => {
                                if (v.id == res.entry.spid) {
                                    this.spidName=v.name;
                                }
                            });
                        }); 
                        // 获取子任务
                        if(!res.entry.fid){
                            let dataPa={id:res.entry.fid?res.entry.fid:res.entry.id};
                            apiPostRequest('/reimburse/taskInfo/queryByIdcombobox', dataPa).then(data => {
                                this.subTaskDetail=data.rows; 
                            });
                        }
                    }); 
                    // 操作日志 
                    let dataPar={"params[tid]":this.curItem.id};
                    apiPostRequest('/reimburse/taskRecord/list', dataPar).then(data => {
                        this.operationLogList=data.rows; 
                    });  
                    // 附件 
                    apiPostRequest('/reimburse/annex/list', dataPar).then(data => {
                        this.subTaskAnnex=data.rows; 
                    });  

                }, 

            },
        })
    </script>
</body>

</html>