<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=0.6,user-scalable=no">
    <title>实时任务管理</title>
    <link rel="icon" href="logo.ico" type="images/x-ico" />
    <link rel="stylesheet" href="css/hyTaskMonitor.css">
</head>

<body>
    <div id="app">
        <div class="vg_container">
            <div class="header">
                <div class="left">
                    <span class="line"></span>
                    <span>{{this.nowDate}}</span>
                    <span>{{this.nowTime}}</span>
                    <span>{{this.nowWeek}}</span>
                </div>
                <div class="center">
                    <span>实时任务管理</span>
                </div>
                <div class="right">
                   <span></span>
                </div>
            </div>
            <!-- 新任务声音 -->
            <audio id="bgmusic" ref="bgmusic" style="display:none;" autoplay preload controls></audio>
            
            <div class="content">
                <!-- 待办 --> 
                <div class="taskBox newestTaskBox">
                   <div class="titleBox">
                       <div class="nameBorder">
                           <span class="titleName">待办任务</span>
                       </div>
                   </div>
                   <div class="form">
                        <div class="formDiv">  
                            <div class="table-tr formHeader">   
                                <div class="table-td">   
                                    <div class="sub-table-td table-th" style="width: 27%;"><span class="table_spe">名称</span></div>  
                                    <div class="sub-table-td table-th" style="width: 24%;"><span class="table_spe">发布人</span></div>  
                                    <div class="sub-table-td table-th" style="width: 24%;"><span class="table_spe">执行人</span></div>  
                                    <div class="sub-table-td table-th" style="width: 25%;"><span class="table_spe">预期完成时间</span></div>  
                                </div>   
                            </div> 
                            <template v-if="newestTaskList.length > 0">
                                <transition-group name="translateX" mode="in-out" tag="div" style="height:100%;width: 100%;">
                                    <div  class="table-tr" v-if="newestTaskFlag" v-for="(item,index) in newestTaskList" :key="index">  
                                        <div class="table-td" :class="{ 'isOdd': index%2==1,'newTask':item.isNew}">   
                                            <div class="sub-table-td" style="width: 27%;"><span class="table_spe ellipse">{{item.task_name}}</span></div>  
                                            <div class="sub-table-td" style="width: 24%;"><span class="table_spe">{{item.release_people}}</span></div>  
                                            <div class="sub-table-td" style="width: 24%;"><span class="table_spe">{{item.username}}</span></div>  
                                            <div class="sub-table-td" style="width: 25%;"><span class="table_spe">{{item.expect_time}}</span></div>  
                                        </div>  
                                    </div>   
                                </transition-group>
                            </template>
                            <template v-else>
                                <span class="nodata">暂无数据</span>
                            </template>
                        </div>
                        <div class="page">
                            <template v-if="newestTaskList.length > 0">
                                <div class="item">
                                    <span>第{{newestTaskPage.currentPage}}页</span>
                                    <span style="margin-left: 40px;">共{{newestTaskPage.total}}条</span>
                                </div>
                            </template>
                        </div>
                   </div>
                    
                </div>
                <!-- 进行中 -->
                <div class="taskBox processingTaskBox ">
                    <div class="titleBox">
                        <div class="nameBorder">
                            <span class="titleName">进行中任务</span>
                        </div>
                    </div>
                    <div class="form">
                        <div class="formDiv">  
                             <div class="table-tr formHeader">  
                                 <div class="table-td">   
                                     <div class="sub-table-td table-th" style="width: 20%;"><span class="table_spe">名称</span></div>  
                                     <div class="sub-table-td table-th" style="width: 18%;"><span class="table_spe">发布人</span></div>  
                                     <div class="sub-table-td table-th" style="width: 18%;"><span class="table_spe">执行人</span></div>  
                                     <div class="sub-table-td table-th" style="width: 20%;"><span class="table_spe">开始时间</span></div>  
                                     <div class="sub-table-td table-th" style="width: 24%;"><span class="table_spe">预期完成时间</span></div>  
                                 </div>   
                             </div>    
                             <template v-if="processingTaskList.length > 0">
                                <transition-group name="translateX" tag="div" style="height:100%;width: 100%;">
                                    <div class="table-tr"  v-if="processingTaskFlag" v-for="(item,index) in processingTaskList" :key="index">  
                                        <div class="table-td" :class="{ 'isOdd': index%2==1,'newTask':item.isNew}">   
                                            <div class="sub-table-td" style="width: 20%;"><span class="table_spe ellipse">{{item.task_name}}</span></div>  
                                            <div class="sub-table-td" style="width: 18%;"><span class="table_spe">{{item.release_people}}</span></div>  
                                            <div class="sub-table-td" style="width: 18%;"><span class="table_spe">{{item.username}}</span></div>  
                                            <div class="sub-table-td" style="width: 20%;"><span class="table_spe" v-if="item.begin_time && item.begin_time.split(' ').length>0">{{item.begin_time.split(' ')[0]}}</span></div>  
                                            <div class="sub-table-td" style="width: 24%;"><span class="table_spe">{{item.expect_time}}</span></div>  
                                        </div>  
                                    </div>  
                                </transition-group>
                            </template>
                            <template v-else>
                                <span class="nodata">暂无数据</span>
                            </template>
                         </div>
                        <div class="page">
                            <template v-if="processingTaskList.length > 0">
                                <div class="item">
                                    <span>第{{processingTaskPage.currentPage}}页</span>
                                    <span style="margin-left: 40px;">共{{processingTaskPage.total}}条</span>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
                <!-- 逾期 -->
                <div class="taskBox overdueTaskBox">
                    <div class="titleBox">
                        <div class="nameBorder">
                            <span class="titleName">逾期任务</span>
                        </div>
                    </div>
                    <div class="form">
                        <div class="formDiv">  
                             <div class="table-tr formHeader">  
                                 <div class="table-td">   
                                     <div class="sub-table-td table-th" style="width: 20%;"><span class="table_spe">名称</span></div>  
                                     <div class="sub-table-td table-th" style="width: 18%;"><span class="table_spe">发布人</span></div>  
                                     <div class="sub-table-td table-th" style="width: 18%;"><span class="table_spe">执行人</span></div>  
                                     <div class="sub-table-td table-th" style="width: 20%;"><span class="table_spe">逾期天数</span></div>  
                                     <div class="sub-table-td table-th" style="width: 24%;"><span class="table_spe">预期完成时间</span></div>  
                                 </div>   
                             </div>  
                             <template v-if="overdueTaskList.length > 0">
                                <transition-group name="translateX" tag="div" style="height:100%;width: 100%;">
                                    <div class="table-tr"  v-if="overdueTaskFlag"  v-for="(item,index) in overdueTaskList" :key="index">  
                                        <div class="table-td" :class="{ 'isOdd': index%2==1,'newTask':item.overDay==1}">   
                                            <div class="sub-table-td" style="width: 20%;"><span class="table_spe ellipse">{{item.task_name}}</span></div>  
                                            <div class="sub-table-td" style="width: 18%;"><span class="table_spe">{{item.release_people}}</span></div>  
                                            <div class="sub-table-td" style="width: 18%;"><span class="table_spe">{{item.username}}</span></div>  
                                            <div class="sub-table-td" style="width: 20%;"><span class="table_spe overdueDay">{{item.overDay}}</span></div>  
                                            <div class="sub-table-td" style="width: 24%;"><span class="table_spe">{{item.expect_time}}</span></div> 
                                        </div>  
                                    </div>  
                                </transition-group> 
                            </template>
                            <template v-else>
                                <span class="nodata">暂无数据</span>
                            </template>
                         </div>
                        <div class="page">
                            <template v-if="overdueTaskList.length > 0">
                                <div class="item">
                                    <span>第{{overdueTaskPage.currentPage}}页</span>
                                    <span style="margin-left: 40px;">共{{overdueTaskPage.total}}条</span>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/vue.min.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/qs.js"></script>
    <script src="./js/httpRequest.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return{
                    newestTaskList:[],
                    processingTaskList:[],
                    overdueTaskList:[],
                    // 切换transition 标识
                    newestTaskFlag:true,
                    processingTaskFlag:true,
                    overdueTaskFlag:true,
                    
                    // 标志切换间隔
                    flagDur:600, 
                    // 分页切换间隔
                    changeDur:15000,
                    newestTaskTimer:null,
                    processingTaskTimer:null,
                    overdueTaskTimer:null,

                    // 当前页
                    newestTaskPage:{
                        currentPage:1, //初始页
                        pagesize:16, //每页的数据
                        totalPage:0, //总页数
                        total:0 //总条数
                    },    
                    processingTaskPage:{
                        currentPage:1, 
                        pagesize:16, 
                        totalPage:0,
                        total:0
                    },    
                    overdueTaskPage:{
                        currentPage:1, 
                        pagesize:16, 
                        totalPage:0,
                        total:0
                    }, 
                    // 最新时间记录  
                    newestTime:'',
                    processestTime:'', 

                    nowDate: "",  // 当前日期
                    nowTime: "",  // 当前时间
                    nowWeek: "",  // 当前星期
                }
            },
            mounted() {
                this.currentTime();//获取当前时间
                // 初始数据
                this.getTaskInfoList(0);
                this.getTaskInfoList(1);
                this.getTaskInfoList(2); 
                // 分页切换
                this.newestTaskChange();
                this.processingTaskChange();
                this.overdueTaskChange(); 
                
            },
            watch:{
                nowTime(val){
                    if(val == '08:00:00'){  //强制刷新
                        location.reload();
                    }
                },
            },
            methods: {
                //实时刷新时间
                currentTime() {
                    setInterval(this.getDate, 500);
                },
                //获取当前时间
                getDate: function() {
                    var _this = this;
                    let yy = new Date().getFullYear();
                    let mm = new Date().getMonth() + 1;
                    let dd = new Date().getDate();
                    let week = new Date().getDay();
                    let hh = new Date().getHours();
                    let mf =
                    new Date().getMinutes() < 10
                        ? "0" + new Date().getMinutes()
                        : new Date().getMinutes();
                    if (week == 1) {
                    this.nowWeek = "星期一";
                    } else if (week == 2) {
                    this.nowWeek = "星期二";
                    } else if (week == 3) {
                    this.nowWeek = "星期三";
                    } else if (week == 4) {
                    this.nowWeek = "星期四";
                    } else if (week == 5) {
                    this.nowWeek = "星期五";
                    } else if (week == 6) {
                    this.nowWeek = "星期六";
                    } else {
                    this.nowWeek = "星期日";
                    }
                    _this.nowTime = hh + ":" + mf;
                    _this.nowDate = yy + "-" + mm + "-" + dd;
                },
                //待办任务
                newestTaskChange() {
                    let $this=this;
                    $this.newestTaskTimer= setInterval(()=>{
                        if($this.newestTaskPage.totalPage > 1){
                           $this.newestTaskFlag=false;
                            if ($this.newestTaskPage.currentPage < $this.newestTaskPage.totalPage) {
                                $this.newestTaskPage.currentPage++;
                            }else{
                                $this.newestTaskPage.currentPage=1;
                            }
                            $this.getTaskInfoList(0);
                            setTimeout(()=>{
                                $this.newestTaskFlag=true;
                            },$this.flagDur); 
                        }else{
                            $this.newestTaskPage.currentPage=1;
                            $this.getTaskInfoList(0);
                        }
                    },$this.changeDur);
                },
                //进行中任务
                processingTaskChange() {
                    let $this=this;
                    $this.processingTaskTimer= setInterval(()=>{
                        if($this.processingTaskPage.totalPage > 1){
                           $this.processingTaskFlag=false;
                            if ($this.processingTaskPage.currentPage < $this.processingTaskPage.totalPage) {
                                $this.processingTaskPage.currentPage++;
                            }else{
                                $this.processingTaskPage.currentPage=1;
                            }
                            $this.getTaskInfoList(1);
                            setTimeout(()=>{
                                $this.processingTaskFlag=true;
                            },$this.flagDur); 
                        }else{
                            $this.processingTaskPage.currentPage=1;
                            $this.getTaskInfoList(1);
                        }
                    },$this.changeDur);
                },
                //逾期任务
                overdueTaskChange() {
                    let $this=this;
                    $this.overdueTaskTimer= setInterval(()=>{
                        if($this.overdueTaskPage.totalPage > 1){
                           $this.overdueTaskFlag=false;
                            if ($this.overdueTaskPage.currentPage < $this.overdueTaskPage.totalPage) {
                                $this.overdueTaskPage.currentPage++;
                            }else{
                                $this.overdueTaskPage.currentPage=1;
                            }
                            $this.getTaskInfoList(2);
                            setTimeout(()=>{
                                $this.overdueTaskFlag=true;
                            },$this.flagDur); 
                        }else{
                            $this.overdueTaskPage.currentPage=1;
                            $this.getTaskInfoList(2);
                        }
                    },$this.changeDur);
                },
                // 时间戳转换
                timeStampChange(val){
                    return new Date(val).getTime();
                },
                // 获取列表数据
                getTaskInfoList(type){
                    let params={
                        "params[stateType]":type,
                        rows:this.newestTaskPage.pagesize
                    };
                    if(type==0){
                        params['page']=this.newestTaskPage.currentPage;
                        apiPostRequest('/reimburse/taskInfo/list', params).then(res => {
                            let datas=res.rows;
                            this.newestTaskPage.totalPage=res.totalPage;
                            this.newestTaskPage.total=res.total;
                            let maxTime='';
                            let newTask=[];
                            if(datas.length > 0){
                                datas.forEach((element,index) => {
                                    if(!maxTime){
                                        maxTime=element.creatTime;
                                    }else{
                                        if(element.creatTime > maxTime){
                                            maxTime=element.creatTime;
                                        }
                                    } 
                                    if(this.newestTime){
                                        // 标识为新任务
                                        if(element.creatTime > this.newestTime){
                                            element.isNew=true;
                                            if(newTask.length==0){
                                                this.$refs.bgmusic.src='./8407.wav';
                                            }
                                            newTask.push(element);
                                        }
                                    }
                                }); 
                            }
                            if(!this.newestTime || maxTime > this.newestTime){
                                this.newestTime = maxTime;
                            }
                            if (this.newestTaskPage.currentPage <= this.newestTaskPage.totalPage) {
                                this.newestTaskList=datas;
                            }else{
                                this.newestTaskPage.currentPage = this.newestTaskPage.totalPage;
                            }
                        });
                    }else if(type==1){
                        params['page']=this.processingTaskPage.currentPage;
                        apiPostRequest('/reimburse/taskInfo/list', params).then(res => {
                            let datas=res.rows;
                            this.processingTaskPage.totalPage=res.totalPage;
                            this.processingTaskPage.total=res.total;  
                            let maxTime='';
                            let newTask=[];
                            if(datas.length > 0){ 
                                datas.forEach((element,index) => {
                                    let eleTime=this.timeStampChange(element.begin_time);
                                    if(!maxTime){
                                        maxTime=eleTime;
                                    }else{
                                        if(eleTime > maxTime){
                                            maxTime=eleTime;
                                        }
                                    } 
                                    if(this.processestTime){
                                        // 标识为新任务
                                        if(eleTime > this.processestTime){
                                            element.isNew=true;
                                            if(newTask.length==0){
                                                this.$refs.bgmusic.src='./12604.wav';
                                            }
                                            newTask.push(element);
                                        }
                                    }
                                });
                            }
                            if(!this.processestTime || maxTime > this.processestTime){
                                this.processestTime = maxTime;
                            }
                            if (this.processingTaskPage.currentPage <= this.processingTaskPage.totalPage) {
                                this.processingTaskList=datas;
                            }else{
                                this.processingTaskPage.currentPage = this.processingTaskPage.totalPage;
                            }
                        });
                    }else if(type==2){
                        params['page']=this.overdueTaskPage.currentPage;
                        apiPostRequest('/reimburse/taskInfo/list', params).then(res => {
                            let datas=res.rows;
                            this.overdueTaskPage.totalPage=res.totalPage;
                            this.overdueTaskPage.total=res.total;
                            if (this.overdueTaskPage.currentPage <= this.overdueTaskPage.totalPage) {
                                this.overdueTaskList=datas;
                            }else{
                                this.overdueTaskPage.currentPage = this.overdueTaskPage.totalPage;
                            }
                        });
                    }
                },
                
            },
        })
    </script>
</body>

</html>